parser_test/main
.DS_Store
parser_test/b.cpp
parser_test/b.hpp
parser_test/b.output
parser_test/l.cpp

*/*.o
*/*.pcm

CLA/b.cpp
CLA/b.hpp
CLA/b.output
CLA/l.cpp
CLA/CLA.C
CLA/CLA.exe
.DS_Store
.github/previous/*
CLA/Scanner.cpp
CLA/Parser.cpp
CLA/Parser.h
CLA/Parser.output
CLA/location.hh

*.dot
*.root
_lastrun.adl
